<ion-navbar *navbar>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>{{user.id?"编辑用户":"新增用户"}}</ion-title>
    <ion-buttons end margin-right>
        <button (click)="importFromContacts()" [hidden]="user.id">
            从通讯录导入
        </button>
        <button (click)="onRemoveUser()" [hidden]="!user.id">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>


<ion-content padding class="edit-form">
    <!----------------Create New User-------------------------->
    <form [ngFormModel]='form' (submit)="onCreateUser()" *ngIf="!user.id">
        <ion-list>
            <ion-item>
                <ion-label>姓名:</ion-label>
                <ion-input type="text" ngControl='username'></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>电话:</ion-label>
                <ion-input type="tel" ngControl='phoneNum'></ion-input>
            </ion-item>
        </ion-list>
        <button type="submit" block [disabled]="!form.valid">提交</button>
        <button type="button" block nav-pop danger>取消</button>
    </form>
    <!----------------Update User-------------------------->

    <ion-list *ngIf="user.id">
        <ion-list-header>基本信息</ion-list-header>
        <ion-item>
            <ion-label>姓　　名:</ion-label>
            <ion-input type="text" [ngFormControl]="form.controls['username']" style="padding-left:0"></ion-input>
            <button item-right [disabled]="form.controls['username'].value===user.username" (click)="onUpdateUsername()">修改</button>
        </ion-item>
        <ion-item>
            <ion-label>电　　话:</ion-label>
            <ion-input type="text" [ngFormControl]="form.controls['phoneNum']" style="padding-left:0"></ion-input>
            <button item-right [disabled]="form.controls['phoneNum'].value===user.phoneNum" (click)="onUpdateUserPhoneNum()">修改</button>
        </ion-item>
        <ion-item>
            <ion-label>创建时间:</ion-label>
            <ion-label [dateShow]="user.createDate"></ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="user.id">
        <ion-list-header>缴费记录<button (click)="pushNewPaymentPage()" round small><ion-icon name="add"></ion-icon></button></ion-list-header>
        <button ion-item *ngFor="let paidRecord of user.paidRecordList" (click)="viewPaidRecord(paidRecord)">
            <p>缴费：<span>￥{{paidRecord.amountOfPaid}}</span> 
                <span class="status-user-expired" *ngIf="paidRecord.isExpired()" style="float:right">已过期</span>
                <span class="status-user-unexpired" *ngIf="!paidRecord.isExpired()" style="float:right">有效</span>
            <p>
            <p>  
                学习时间：<span [dateShow]="paidRecord.startDate"></span> ~ 
                <span [dateShow]="paidRecord.endDate"></span>
            </p>
        </button>
    </ion-list>
</ion-content>