<ion-navbar *navbar>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>用户管理</ion-title>
    <ion-buttons end margin-right>
        <button (click)="showUserPage($event)">
            <ion-icon name="person-add"></ion-icon>
        </button>
        <button (click)="batchImportFromContracts()">
            <ion-icon name="contacts"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>


<ion-content>
    <ion-grid>
        <ion-row class="table-head">
            <ion-col width-35 class="clickable">姓名</ion-col>
            <ion-col width-45 class="clickable">电话</ion-col>
            <ion-col width-20 class="clickable">状态</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of items" data-user-id="{{item.id}}" (click)="popoverUserOperations(item)" class="table-row clickable">
            <ion-col width-35 (click)="showUserPage($event, item)" class="clickable username">{{item.username}}</ion-col>
            <ion-col width-45>{{item.phoneNum}}</ion-col>
            <ion-col width-20>
               <div *ngIf="item.isExpired" class="status-user-expired">已过期</div>
               <div *ngIf="!item.isExpired" class="status-user-unexpired">有效</div>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>